.footer-content {
	@include gridle(12);
	@extend .no-paddings;
	background: $first_color;
	height:auto;
	font:{family:$primary_font;}
	position: absolute;
	bottom: 0;
	.first-box {
		@extend .box-footer;
		.site-name {
			@extend .text-center;
			font:{size:13px; style:italic;}
			padding: 5px 0;
			@include gridle_state(phoness-min) {
				font:{size: 8px;}
				padding: 5px 10px;
			}
			span {
				font:{weight:800;}
			}
			.site-description {
				@extend .no-margins;
				font:{size:11px;}
				width: auto;
				display: inline-block;
				padding:10px;
				@include gridle_state(phoness-min) {
					font-size: 8px;
					padding: 0px 10px;
				}
			}
		}
	}
	.second-box {
		@extend .box-footer;
		color:$second_color;
		height: 100px;
		@include gridle_state(phoness-min) {
			display: table;
			position: relative;
		}
		.logotipe-mediatrends {
			@include gridle(3);
			display: inline-block;
			@include gridle_state(phoness-min) {
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
			.logo-md {
				height: 90px;
				margin:5px auto;
				display: block;
				@include gridle_state(phoness-min) {
					 height: 50px;
				}
			}
		}
		.contact-info {
			@extend .logotipe-mediatrends;
			text:{transform:uppercase;}
			display: table;
			height: inherit;
			@include gridle_state(phoness-min) {
				height: 45px;
				width:  75%;
				position: relative;
				padding: 0 3px;
			}
			&:first-child {
				margin:{top: 5px;}
			}
			&:last-child {
				@include gridle_state(phoness-min) {
					width:15%;
					position: absolute;
					right: 0;
					top:5px;
				}
			}
			.content-info {
				display: table-cell;
				vertical-align: middle;
				@include gridle_state(phoness-min) {
					font:{size:10px;}
					word-break: break-word;
					width: 33%;
				}
				.titulo {
					font:{size:14px;style:italic;}
				}
				.contacto {
					font:{size:12px;style:italic;}
					color:$second_color;
					@include gridle_state(tabless-md phoness-min) {
						font:{size:10px;}
					}
				}
				ul {
					@extend .no-margins;
					@extend .no-paddings;
					li {
						display: inline-block;
						height: 40px;
						width: 40px;
						border-radius: 50%;
						background:{color:$second_color;}
						list-style: none;
						margin:{right:10px;} 
						@include gridle_state(tabless-md) {
							height: 35px;
							width: 35px;
							margin:{right:2px;} 
						}
						@include gridle_state(phoness-min) {
							height: 25px;
							width: 25px;
							margin-bottom: 6px;
							display: block;
						}
						a {
							font:{size:20px;}
							text:{align:center;}
							display: table;
							width:100%;
							height:100%;
							color:$first_color;
							@include gridle_state(tabless-md) {
								font:{size: 10px;}
							}
							svg {
								height: 25px;
								display: table-cell;
								vertical-align: middle;
								margin: 0 auto;
								padding-top: 6px;
							}
						}
					}
				}	
			}
		}
	}
	.third-box {
		@extend .box-footer;
		height: 90px;
		position:relative;
		overflow: hidden;
		.logotipos-sitios {
			@include gridle(7, desktopess notebook-min);
			@include gridle(12, tabless-min);
			@include gridle(10, tabless-md phoness);
			@include gridle(12, phoness-min);
			@include gridle_float(none);
			margin: 0 auto;
			display: block;
			height: inherit;
			.content-logo {
				display: table;
				@include gridle(3);
				@extend .no-paddings;
				height: 100%;
				.sitios {
					padding:{left:15px;}
					display: table-cell;
					vertical-align: middle;
					text:{transform:uppercase;}
					color:$third_color;
					font:{style:italic;}
					@include gridle_state(phoness-min) {
						font:{size: 7px;}
						padding:{left:5px;}
					}
				}
				.logo-group {
					@extend .no-paddings;
					height: 100%;
					&.chicfit {
						@include gridle(3);
						@include gridle(11, phoness-min);
						margin: 0 auto;
						svg {
							height: auto;
						}
					}
					&.soycrack {
						@extend .chicfit;
					}
					&.chilerunning {
						@extend .chicfit;
					}	
				}
			}	
		}
	}
	.fourth-box {
		@extend .box-footer;
		color:$second_color;
		height: 160px;
		@include gridle_state(phoness-min) {
			height: 80px;
		}
		.content-groupmd {
			@include gridle(7, desktopess notebook-min);
			@include gridle(12, tabless-min);
			@include gridle(10, tabless-md phoness);
			@include gridle(12, phoness-min);
			@include gridle_float(none);
			@extend .no-paddings;
			margin:0 auto;
			display: block;
			height: inherit;
			.content-logo {
				display: table;
				@include gridle(3);
				@extend .no-paddings;
				height: inherit;
				a{
					display: block;
					width:100%;
					height: 90%;
				}
				.logotipe-mdg {
					height: 140px;
					display: table-cell;
					vertical-align: middle;
					padding:{right:20px;}
					border-right:1px solid $fourth_color;
					@include gridle_state(phoness-min) {
						height: 50px;
					}
					svg {
						height:100%;
						width:auto;
						margin: 0 auto;
						display: block;
					}
				}
				.logo-group {
					@include gridle(6);
					@include gridle_float(none);
					@extend .no-paddings;
					height: 100%;
					margin: 0 auto;
					display: table-cell;
					vertical-align: middle;
					#mediatrends-logo {
						fill: $fourth_color;
					}
					&.montana {
						@include gridle(8);
						@include gridle_float(none);
						display: block;
					}
				}
			}
		}
	}
	.fifth-box {
		@extend .box-footer;
		border:0;
		.content-final {
			@include gridle(2, desktopess notebook-min); 
			@include gridle(4, tabless-md phoness); 
			@include gridle(12, phoness-min); 
			@include gridle_float(none);
			@extend .no-paddings;
			margin: 0 auto;
			display: block;
			height: 65px;
			.powered-content {
				@include gridle(7);
				height: inherit;
				display: table;
				.powered {
					display: table-cell;
					vertical-align: middle;
					color:$third_color;
					font:{size:9px;}
					text:{align:right;}
					.tooltip {
						font:{size: 15px;weight:lighter;}
						padding: 2px 0;
						display: inline;
						position: relative;
						color:$third_color;
						@include gridle_state(phoness-min) {
							font:{size: 11px;}
						}	
						&:hover {
							&:after {
								@extend .text-left;
								bottom: 26px;
								content: attr(title);
								right: -55%;
								position: absolute;
								z-index: 98;
								background: $third_color; 
								color: $second_color; 
								font:{size: 12px;}
								padding: 5px 15px;
								width: 290px; 
								@include gridle_state(phoness-min) {
									width: 250px;
									left: -220px;
								}
							}
							&:before {
								bottom: 20px;
								content: "";
								position: absolute;
								z-index: 99;
								border: solid;
								border-color: $third_color transparent;
								border-width: 6px 6px 0 6px;
							}
	  					}
					}
				}	
			}
			.content-logo {
				@include gridle(5);
				@extend .no-paddings;
				height: inherit;
				display: table;
				svg {
					height:100%;
					width:auto;
				}
			}
		}
	}
}

