html {
	height: 100%;
	width: 100%;
	body{
		height: 100%;
		width: 100%;
		@extend .no-margins;
	}
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins{
	margin:0 !important;
}
.no-paddings{
	padding:0 !important;
}
.resp_img{
	width:100%;
	height:auto;
}
.center{
	margin:0 auto !important;
}
a {
	text:{decoration:none;}
}

.border-bottom {
	border-bottom:1px solid $fourth_color;
}
.box-footer {
	@include gridle(8, desktopess);
	@include gridle(11,notebook-min);
	@include gridle(12,tabless-md phoness);
	@extend .no-paddings;
	@extend .border-bottom;
	@include gridle_float(none);
	margin:0 auto;
	display: block;
	color:$third_color;
}