@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

// Import gridle :
@import '../../bower_components/gridle/sass/gridle/gridle';
// setup the grid (required) :
@include gridle_setup((
	context : 12,
	gutter-width : 20px,
	debug : false
));
// Generate classes :
@include gridle_generate_classes();

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';

@import 'partial/var';
@import 'partial/general';
@import 'partial/footer';